.outstanding_product {
  background-color: rgba(255, 192, 203, 0.479);
}

.featured_products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 2em;

  .product {
    margin: 1em;
    padding: 0;

    .feature-category {
      position: relative;
      padding-bottom: 45%;
      .img_product {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .show {
      margin-top: -2.5em;
      display: flex;
      justify-content: center;
      .btn_show {
        display: flex;
        justify-content: center;
        background-color: white;
        border: 1px solid white;
        box-shadow: 3px 5px 10px #ff71714d;
        padding-left: 0px;
        padding-right: 0px;

        .name_show {
          margin: auto;
          padding: 0px 15px;
        }
        .icon_show {
          background-color: #e57a7a;
          padding: 3px 7px 3px 7px;
          font-size: 21px;
          margin: 1px;
          color: white;
        }
      }
    }
  }
}

.list_product {
  margin-top: 2em;
 
  .main_products {
    display: flex;
    align-items: center;
    padding: 0;
    .arrow_product_left {
      font-size: 20px;
      margin-left: 1%;
    }
    .arrow_product_right {
      font-size: 20px;
      margin-right: 1%;
    }
    .product {
      margin-left: 0.2%;
      margin-right: 0.2%;
      width: 25%;
      background-color: white;
      border: 1px solid white;
      border-radius: 7px;
      &:hover {
        box-shadow: 5px 7px 10px #ff71714d;
      }

      .pack_product {
        position: relative;
        padding-bottom: 80%;
        .iphone_img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .discount {
          position: absolute;
          top: 5px;
          left: 5px;
          background-color: red;
          font-size: 12px;
          padding: 1px;
          z-index: 2;
          color: white;
        }
      }
      .info_product {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 3%;
      }
    }
  }
  .btn_show_all {
    background-color: white;
    border: 1px solid #e1e1e1;
  }
}

.icon_chat {
  display: none;
}

@media only screen and (max-width: 768px) {
  .heder_feature_pro {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding-top: 5px;
    margin-right: 2px;
    margin-left: 2px;
    .featured_products {
      margin-top: 0em;
    }
  }
  .icon_chat {
    display: block;
    background-color: red;
    width: 2em;
    border: 1px solid red;
    border-radius: 50%;
    position: fixed;
    bottom: 2px;
    right: 2px;
  }
}
