@charset "UTF-8";
img {
  max-width: 100%;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 0px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.outstanding_product {
  background-color: rgba(255, 192, 203, 0.479);
}

.featured_products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 2em;
}
.featured_products .product {
  margin: 1em;
  padding: 0;
}
.featured_products .product .feature-category {
  position: relative;
  padding-bottom: 45%;
}
.featured_products .product .feature-category .img_product {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.featured_products .product .show {
  margin-top: -2.5em;
  display: flex;
  justify-content: center;
}
.featured_products .product .show .btn_show {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid white;
  box-shadow: 3px 5px 10px rgba(255, 113, 113, 0.3019607843);
  padding-left: 0px;
  padding-right: 0px;
}
.featured_products .product .show .btn_show .name_show {
  margin: auto;
  padding: 0px 15px;
}
.featured_products .product .show .btn_show .icon_show {
  background-color: #e57a7a;
  padding: 3px 7px 3px 7px;
  font-size: 21px;
  margin: 1px;
  color: white;
}

.list_product {
  margin-top: 2em;
}
.list_product .main_products {
  display: flex;
  align-items: center;
  padding: 0;
}
.list_product .main_products .arrow_product_left {
  font-size: 20px;
  margin-left: 1%;
}
.list_product .main_products .arrow_product_right {
  font-size: 20px;
  margin-right: 1%;
}
.list_product .main_products .product {
  margin-left: 0.2%;
  margin-right: 0.2%;
  width: 25%;
  background-color: white;
  border: 1px solid white;
  border-radius: 7px;
}
.list_product .main_products .product:hover {
  box-shadow: 5px 7px 10px rgba(255, 113, 113, 0.3019607843);
}
.list_product .main_products .product .pack_product {
  position: relative;
  padding-bottom: 80%;
}
.list_product .main_products .product .pack_product .iphone_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.list_product .main_products .product .pack_product .discount {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: red;
  font-size: 12px;
  padding: 1px;
  z-index: 2;
  color: white;
}
.list_product .main_products .product .info_product {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
}
.list_product .btn_show_all {
  background-color: white;
  border: 1px solid #e1e1e1;
}

.icon_chat {
  display: none;
}

@media only screen and (max-width: 768px) {
  .heder_feature_pro {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding-top: 5px;
    margin-right: 2px;
    margin-left: 2px;
  }
  .heder_feature_pro .featured_products {
    margin-top: 0em;
  }
  .icon_chat {
    display: block;
    background-color: red;
    width: 2em;
    border: 1px solid red;
    border-radius: 50%;
    position: fixed;
    bottom: 2px;
    right: 2px;
  }
}
.header-main, .header-top {
  margin-left: 7%;
  margin-right: 7%;
  display: flex;
  align-items: center;
}

.header-main {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-menu {
  background-color: #E57A7A;
}
.header-menu a {
  color: #FFFFFF;
}

.menu-search {
  border: 1px solid #FF0000;
  padding: 0 0 0 0;
}
.menu-search .search,
.menu-search .dropdown-search {
  border: 1px solid #FFFFFF;
}
.menu-search .btn_search {
  color: #ffffff;
  background-color: #ff0000;
}

.start_header .info .nation {
  font-size: 12px;
}
.start_header .info .languege {
  float: right;
}
.start_header .address {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.7em;
}

.btn_cart,
.menu_down,
.icon_shop,
.account {
  display: none;
}

@media only screen and (max-width: 768px) {
  .address {
    display: none;
    text-overflow: ellipsis;
  }
  .header-top {
    margin-left: 0;
    margin-right: 0;
  }
  .info {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .info .account,
.info .languege {
    display: block;
  }
  .menu-search {
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-search .search,
.menu-search .dropdown-search {
    display: none;
  }
  .menu-search .btn_cart {
    display: block;
  }
  .menu-search .btn_search {
    color: black;
    background-color: #ffffff;
  }
  .menu_img {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu_img .menu_down,
.menu_img .imgshop {
    display: block;
  }
  .menu_img .img_shop {
    width: 3em;
  }
  .info_user_shop,
.header-menu {
    display: none;
  }
  .header-main,
.content_menu,
.start_header {
    margin: 0;
    padding: 0;
  }
}

/*# sourceMappingURL=app.css.map */
